.header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .MuiSvgIcon-root {
  margin-left: 10px;
}

.details {
  margin-right: 10px;
}

.details h4 {
  font-size: 24px;
}
