* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    38deg,
    rgba(238, 174, 202, 1) 4%,
    rgba(177, 221, 195, 1) 26%,
    rgba(255, 255, 255, 1) 56%,
    rgba(148, 187, 233, 1) 85%
  );
  height: 100vh;
}

.app__body {
  background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png")
    no-repeat center;
  background-size: contain;
  height: 400px;
  width: 250px;
  padding: 74px;
}

.app__bodyBackground {
  background-color: white;
  height: 400px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
